body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;

  }  
  
#map { 
  border:8px solid white;
  margin:20px auto;
  text-align:center;
}
 
h1, h2, h3, p, form, label { 
  text-align: center;
  font-family: "Arial", Times, serif;
  
} 

html { 
  background: radial-gradient(circle,cyan 20%,darkcyan 95%); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
  }


h4 { 
font-family: "Arial", Times, serif;
}

svg {
  margin: auto;
}

#barchart {
  width: 100vw;
  text-align: center;
  margin: auto;
}

#piechart {
  width: 100vw;
  text-align: center;
  margin: auto;
}


#results { 
  margin-top: 30px; 
  margin-left: 60px;
}

#results h1, #results a { 
  text-align:left; 
  font-size:32px;
  margin:0px;
}

#results h1 :hover, #rest h1 :hover { 
  color:white;
  text-decoration: underline;
}

#results h2 { 
  text-align:left; 
  font-size:18px;
  margin:0px;
  margin-top:6px;
  margin-bottom:6px;
}

#rest img{
  width:600px;
  height:auto;
  margin:10px;
  border:8px solid white;
  

}

#err img{
  width:200px;
  margin-bottom:30px;
  height:auto;
  

}


#results h3 { 
  text-align:left; 
  font-size:14px;
  margin:0px;
  margin-bottom:20px;
}

#rest, #err { 
  width: 800px;
  margin-top:30px;
  text-align:center;
}


#rest h1, #err h1 { 
  text-align:middle; 
  font-size:42px;
  margin:0px;
  margin-bottom:10px;
}

#rest h2, #err h2 { 
  text-align:middle; 
  font-size:18px;
  margin:0px;
  margin-top:6px;
  margin-bottom:6px;
}


#rest h3, #err h3 { 
  text-align:middle;
  font-size:14px;
  margin:0px;
}


a :hover { 
  cursor:pointer;
}

#pageHeader a { 
  color: white;
}

#mainArticle a { 
  color:black; 
  text-decoration:none;
}

#titlebox { 
  background: blue;
  
}  


input[type="text"], input[type="submit"] {  
  width: 400px;
  height: 25px;
  font-size: 18px;
  text-align:center;
}

textarea { 
  width: 400px;
  height: 70px;
  font-size: 14px;
  text-align:center;

}

#mainArticle label { 
  font-size: 18px; 
   }
   

#contentbox { 
  background:red;
  
}

header, footer, article, nav, div {
  padding: 1.2em;
  }
 
#pageHeader {
  grid-area: header;
 }
 
 #pageHeader a :hover { 
  color:black; 
  text-decoration: underline;
  }

#pageHeader h1 { 
  text-align: left;
  float: left; 
  font-size: 50px;
  padding-left: 50px;
  font-family: "Times New Roman", Times, serif;
} 

#pageHeader h2 { 
  text-align: right;
  float: right; 
  padding-right: 50px;
  font-family: "Arial", Times, serif;
  padding-top:25px;
} 
 
#pageFooter {
  grid-area: footer;
  }
  
#mainArticle { 
  grid-area: article;
  margin:auto;

  }
 
img { 
width: 100px;
height: 100px;
}
  
#mainNav h4 { 
  padding-top: 0px;
  }
  
#mainNav h5 { 
  text-align: left;
  font-family: "Arial", Times, serif;
  font-size:22px;
  padding-bottom:0px;
}

#estabForm a :hover { 
  color:white;
}
  
#mainNav { 
  grid-area: nav; 
  padding-left:70px;
  width:260px;
  text-align:left; 
  }
#siteAds { 
  grid-area: ads; 
  } 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
  }
}